sudo: false
language: python
python:
  - "3.8"
virtualenv:
  system_site_packages: false

install:
  - pip install -u pip setuptools wheel
  - pip install flake8-black

script:
  - flake8 src/ tests/

deploy:
  provider: pypi
  username: "__token__"
  password: 
    secure: "Dq8UBWCGbdVbfk+yXl6+g/OB26SJbfF5BLeXexLOdopT7F3QKqGZIv7RO2ns2Vzz5U8u+U2Kqg6ijVOlGRNXDadg7PIxbEQIrDumnT9F1gwxdJzhSF0Pk3JhYTDtq2b48PXrMAGFW2vAWGaGEk7USX6GaEgRK903Il/lPSs709NnveEGM/IsYAWgoc5a36AjQRgMcGpqDB+Q/IM8zZJVMUH3ZXswaUQW9d0jXLhlQXfasBikQ3cHNK8CnrQrRD0GyA1zxHQqT6VaFldA+2zDSIF+efqyqx8c/CYtzKQegQ2PlD/vXQnxgG2s7dBqMPuC3PH233t56y0fSIP2I9UWyvXb1364lpbc6Oq44VRXQEr/SG9u910G48GB5JHjJfmfOkZBli66Y0cON+MUbYKMDmSCMWX2ccQRA9YQzhVjnBCjmlcXzhhNZkQZz3eOsW6dnD7leIELuqGeUAXijbhsjEMzFVBOEDa+HwIDgBl8DxC0p0O/3MJXCUOeGCfTDUzKR3DrP7gSICc93SPYgtuQF67MbNa2DPabZEmvLqKDm3Ij+TBlKnvkzTYTrYUVqz16zYBIhti4TK7jtU8uju3kPzMZD0+V6Yy49d2ksKpR3Kt4U+hk4GUTBNSqN7IWjbNT/YJaaSHtbIdyksU0L1A3f5sbGYGajwf6cP35iN2opLk="
  on:
    tags: true
