os: linux
virt: lxd
dist: focal
group: edge
language: python
python:
- '3.8'
virtualenv:
  system_site_packages: false
install:
- pip install --upgrade pip setuptools wheel
- pip install --upgrade flake8 flake8-black mypy
script:
- flake8 src/ tests/
- mypy src/
deploy:
  provider: pypi
  username: __token__
  password:
    secure: Y3TvKWQLMdDr1U7v/hperHCwnEOMqP+UIdxH0iUgkngYfjtldWLSRQa299Takn3nlAEAaBiHlbwolPS8t4Wv19lmVDJNKhOzsPanLCZQ9okbg1AZUw1A0fcDwdiKnml4KWOT+tl8NfPCsrhrA5Ui9NVARAkasBRl9IiGo9b8oFV/muFJMAmN4ZA4L0NSHgf/QgXO/Ws4RrmuAF2uzeoWondA23tbhIsrEPBxF02V4E6uQtBsfJ1DdkVW5vw9RXRyGtlDbxoPTf1txRwNRGlh6FlFhWQhlEFnzHKRBtwW5Bd8B+diYjMATPL2nnoaK4IB2nXdFDmJPjZVbeEn77ocjG6PRQ+WC0dXde7VqR3RITtJYSSkUKAvYQLydLaCOh5fGdyBU2WpzrktJpS5RftuR2YyrhntqsBfoBdB0AFJZD/i3l0ryW85Bcs2iHiAF85ctDoHG90k5eE9BEQ7BVJWYmOLM282Hf2ZmcxcfQAFjqeafTK8aU/wjv6efo6p8wt6HI10Mdkck0uZ+9t+hg7HyOYV/8F5bMWcpR5dFpTD1+TwGKOQ6xWW5pE1f4ytM6EUn8nZDYPPmvQeDERTRiOkeLy2PQrBMpc+Rtx1VRO6lnGMaAq8j0P2ZOYw9tdo3nlf04iHvOa1S1D0XOtFfg0nrxbmbqbSoQb7ytq5usvOSVk=
  on:
    tags: true
